/* index.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 10px 0;
  text-align: center;
}

h1, h2, h3 {
  margin: 0.5em 0;
  text-align: center;
}

main {
  padding: 20px;
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.date, .workout-of-day {
  margin: 20px 0;
  font-size: 18px;
}

.workout-of-day p {
  margin: 10px 0;
}

ul {
  text-align: left;
  align-self: center;
}

.food-list {
  display: flex;
  flex-direction: column;
}